@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Kdam+Thmor+Pro&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    list-style: none;
    text-decoration: none;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 50%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 25px;
    transition: .5s;
    font-family: "kdam Thmor Pro", sans-serif;
}

li:hover {
    color: rgb(204, 116, 1);
}

#logo {
    width: 150px;
    height: auto;
    margin-right: 200px;
}

.banner {
    background: linear-gradient(rgba(0,0,0,0.281), rgb(0, 0, 0)),url(https://images3.alphacoders.com/104/1049877.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 800px;
}

.texto {
    background: none;
}

.titulo {
    color: white;
    font-size: 45px;
    font-weight: 600;
    font-family: "kdam Thmor Pro", sans-serif;
    background: none;
    margin-bottom: 20px
    
}

.sub-titulo {
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: "kdam Thmor Pro", sans-serif;
    background: none;
}

.button {
    margin-top: 30px;
    background: none;
}

.button-link a {
    background: none;
    color: aliceblue;
}

button {
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    color: aliceblue;
    background-color: rgb(219, 100, 3);
}

button:hover {
    color: white;
    background-color: black;
}

footer {
    height: 150px;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#logo2 {
    width: 150px;
    height: auto;
    margin-bottom: 50px;
    align-items: center;
}
span {
    color: white;
    font-family: "kdam Thmor Pro", sans-serif;
}

section{
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    height: 500px;
    text-align: center;
    padding: 50px 0;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  rgb(20,20,20);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: none;
    color: aliceblue;
    border-radius: 40px;
    
}

.paragrafo {
    border-radius: 10px;
}
p {
    margin-top: 150px;
}

section:nth-of-type(1) {
    background-image: url(https://images8.alphacoders.com/702/702592.jpg);  
}
section:nth-of-type(3) {
    background-image: url(https://images4.alphacoders.com/104/1049881.jpg);  
}
section:nth-of-type(5) {
    background-image: url(https://images6.alphacoders.com/725/725558.jpg);  
}
section:nth-of-type(7) {
    background-image: url(https://images6.alphacoders.com/104/1049772.jpg);  
}

.banner2 {
    background: linear-gradient(rgba(0,0,0,0.281), rgb(0, 0, 0)),url(https://images3.alphacoders.com/127/1273569.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 600px;
}

.texto2 {
    background: none;
}

.titulo2 {
    color: white;
    font-size: 80px;
    font-family: "kdam Thmor Pro", sans-serif;
    background: none;
    margin-bottom: 20px;
}

.descrição {
    color: white;
    display: flex;
    text-align: center;
    justify-content:space-around;
    font-size: 50px;
    font-family: "kdam Thmor Pro", sans-serif;
     background: none;
     margin-top: 150px;
    margin-bottom: 30px;
}
h3 {
    color: white;
    display: flex;
    text-align: center;
    justify-content:space-around;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background: none;
    margin-bottom: 20px;
    }

.herois-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.herois-content {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 40px;
}

.herois {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    border: solid 4px white;
    cursor: pointer;
    transition: 1s;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    padding: 0 0 20px 10px;
    background-color: rgb(163, 248, 248);
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 25px;
    font-family: "kdam Thmor Pro", sans-serif;
}

.herois:hover {
    transform: scale(1.08);
}

.foto-1 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/ca114f72193e4d58a85c087e9409242f1a31e808cf4058678b8cbf767c2a9a0a.png');
}
.foto-2 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/13750471c693c1a360eb19d5ace229c8599a729cd961d72ebee0e157657b7d18.png');
}
.foto-3 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/71e96294617e81051d120b5d04b491bb1ea40e2933da44d6631aae149aac411d.png');
}
.foto-4 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/cef2406b2244b80506f83b8fb9ebaf214f41fa8795cbeef84026cd8018561d04.png');
}
.foto-5 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/3e0367155e1940a24da076c6f1f065aacede88dbc323631491aa0cd5a51e0b66.png');
}
.foto-6 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/490d2f79f8547d6e364306af60c8184fb8024b8e55809e4cc501126109981a65.png');
}
.foto-7 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/72e02e747b66b61fcbc02d35d350770b3ec7cbaabd0a7ca17c0d82743d43a7e8.png');
}
.foto-8 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/cd7a4c0a0df8924afb2c9f6df864ed040f20250440c36ca2eb634acf6609c5e4.png');
}
.foto-9 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/bd9c8e634d89488459dfc1aeb21b602fa5c39aa05601a4167682f3a3fed4e0ee.png');
}
.foto-10 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/5c18e39ce567ee8a84078f775b9f76a2ba891de601c059a3d2b46b61ae4afb42.png');
}
.foto-11 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/8819ba85823136640d8eba2af6fd7b19d46b9ee8ab192a4e06f396d1e5231f7a.png');
}
.foto-12 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/8dc2a024c9b7d95c7141b2ef065590dbc8d9018d12ad15f76b01923986702228.png');
}
.foto-13 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/4d715f722c42215072b5dd0240904aaed7b5285df0b2b082d0a7f1865b5ea992.png');
}
.foto-14 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/6cfb48b5597b657c2eafb1277dc5eef4a07eae90c265fcd37ed798189619f0a5.png');
}
.foto-15 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/f086bf235cc6b7f138609594218a8385c8e5f6405a39eceb0deb9afb429619fe.png');
}
.foto-16 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/4edf5ea6d58c449a2aeb619a3fda9fff36a069dfbe4da8bc5d8ec1c758ddb8dc.png');
}
.foto-17 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/aecd8fa677f0093344fab7ccb7c37516c764df3f5ff339a5a845a030a27ba7e0.png');
}
.foto-18 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/037e3df083624e5480f8996821287479a375f62b470572a22773da0eaf9441d0.png');
}
.foto-19 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/1533fcb0ee1d3f9586f84b4067c6f63eca3322c1c661f69bfb41cd9e4f4bcc11.png');
}
.foto-20 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/f8261595eca3e43e3b37cadb8161902cc416e38b7e0caa855f4555001156d814.png');
}
.foto-21 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/2edb9af69d987bb503cd31f7013ae693640e692b321a73d175957b9e64394f40.png');
}
.foto-22 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/a53bf7ad9d2f33aaf9199a00989f86d4ba1f67c281ba550312c7d96e70fec4ea.png');
}
.foto-23 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/20b4ef00ed05d6dba75df228241ed528df7b6c9556f04c8070bad1e2f89e0ff5.png');
}
.foto-24 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/bca8532688f01b071806063b9472f1c0f9fc9c7948e6b59e210006e69cec9022.png');
}
.foto-25 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/7f2024c5387c9d76d944a5db021c2774d1e9d7cbf39e9b6a35b364d38ea250ac.png');
}
.foto-26 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/1309ab1add1cc19189a2c8bc7b1471f88efa1073e9705d2397fdb37d45707d01.png');
}
.foto-27 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/a66413200e934da19540afac965cfe8a2de4ada593d9a52d53108bb28e8bbc9c.png');
}
.foto-28 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/a714f1cb33cc91c6b5b3e89ffe7e325b99e7c89cc8e8feced594f81305147efe.png');
}
.foto-29 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/3429c394716364bbef802180e9763d04812757c205e1b4568bc321772096ed86.png');
}
.foto-30 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/f979896f74ba22db2a92a85ae1260124ab0a26665957a624365e0f96e5ac5b5c.png');
}
.foto-31 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/48392820c6976ee1cd8dde13e71df85bf15560083ee5c8658fe7c298095d619a.png');
}
.foto-32 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/088aff2153bdfa426984b1d5c912f6af0ab313f0865a81be0edd114e9a2f79f9.png');
}
.foto-33 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/e2ff2527610a0fbe0c9956f80925123ef3e66c213003e29d37436de30b90e4e1.png');
}
.foto-34 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/2508ddd39a178d5f6ae993ab43eeb3e7961e5a54a9507e6ae347381193f28943.png');
}
.foto-35 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/000beeb5606e01497897fa9210dd3b1e78e1159ebfd8afdc9e989047d7d3d08f.png');
}
.foto-36 {
    background-image: url('https://d15f34w2p8l1cc.cloudfront.net/overwatch/71cabc939c577581f66b952f9c70891db779251e8e70f29de3c7bf494edacfe4.png');
}

h4 {
    margin-top: 10%;
    margin-bottom: 20px;
    color:rgb(206, 124, 1);
    text-align: center;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
}

h5 {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

.linkedin {
    margin-top: 60px;
    height: auto;
    text-align: center;
}

img {
    width: 60px;
    height: 60px;
}

#linkedi {
    border-radius: 50% 50%;
    width: 70px;
    height: 70px;
    margin-bottom: 10%;
}

#linkedi:hover {
    transform: scale(1.10);
}


